@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navMain{
    @apply poppins-medium text-grayColor
  }
  .activeLink{
    @apply poppins-bold text-secondaryColor 
  }
  .activeLinkCategories{
    @apply poppins-bold text-redColor underline 
  }
  .buttonSearch{
    @apply drop-shadow p-2 rounded-3xl px-4 poppins-medium active:bg-secondaryColor bg-primaryColor text-secondaryColor active:text-whiteColor uppercase text-xs sm:text-base
  }
  .buttonPay{
    @apply drop-shadow p-2 rounded-3xl px-12 sm:px-12 poppins-medium active:bg-secondaryColor bg-hoverColor text-whiteColor uppercase text-xs sm:text-base
  }
  .buttonMore{
    @apply drop-shadow p-2 rounded-3xl px-4 poppins-medium active:bg-hoverColor active:text-whiteColor bg-whiteColor border-2 border-hoverColor text-hoverColor uppercase text-xs sm:text-base
  }
  .inputText{
    @apply w-44 sm:w-64 border p-2 rounded-3xl px-9 text-secondaryColor border-secondaryColor text-sm sm:text-base
  }
  .numberChart{
    @apply poppins-bold text-redColor  bg-whiteColor lg:py-6 lg:px-6 lg:w-24 py-3 px-4 md:py-4 md:px-4 md:w-16 rounded-md text-sm lg:text-4xl md:text-xl shadow md:shadow-md w-12
  }
  .numberTitle{
    @apply poppins-bold lg:text-base md:text-sm text-[11px]
  }
  .navFooter{
    @apply text-secondaryColor poppins-medium
  }
  .navCategories{
    @apply poppins-medium text-grayColor text-sm sm:text-base
  }
  .loadingMessage{
    @apply text-center poppins-semibold my-8
  }
  .errorMessage{
    @apply text-center poppins-semibold my-8
  }
  .productsGrid{
    @apply mt-4 grid mx-6 sm:mx-12 md:mx-24 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6
  }
  input{
    @apply border-2 p-1 rounded-md border-hoverColor poppins-light text-[12px] sm:text-[16px] 
  }
  label{
    @apply  py-1 poppins-regular text-[12px] sm:text-[16px]
  }
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
